.bilicardbase{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
}
.bilicard-head{
    color: #E2E5EA;
    display: grid;
    grid-template-columns: 80px 180px 60px;
    grid-template-rows: auto;
}
.bilicard-head > div > h2 {
    margin: 10px 0px 5px 0px;
}
.bilicard-face{
    margin: 10px auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #A3A4B0;
}
.bilicard-lv{
    margin-top: 15px;
    width: 35px;
    height: 18px;
}
.bilicard-foot{
    text-align: center;
    color: #37455E;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 50% 50%;
}
.bilicard-foot > h3{
    margin: 0;
}
.bilicard-foot > span{
    margin-top: 10px;
    font-size: 1.1rem;
}