.clock-clockbase {
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 80px 30px 40px;
}

.clock-hm {
  font-weight: bold;
  font-size: 1.9rem;
}

.clock-s {
  font-size: 1.5rem;
  color: #C63E3E;
}