.countdownbase {
  color: #202E3D;
  display: grid;
  grid-template-columns: 150px;
  grid-template-rows: 30px 90px 30px;
}

.countdown-title {
  width: 150px;
  line-height: 40px;
  margin: 0;
  text-align: center;
  font-size: 0.8rem;
}

.countdown-infobox {
  margin-left: 10px;
  line-height: 5rem;
  font-weight: bold;
}

.countdown-daynum {
  width: 0;
  margin: 0;
  font-size: 3.5rem;
}

.countdown-day {
  margin: 0;
  font-size: 1.5rem;
  line-height: 12px;
}

.countdown-date{
  text-align: center;
}