.musicbase{
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: auto;
}
.music-image{
    font-size: 5rem;
    text-align: center;
    color: #727B88;
    margin: 20px auto;
    width: 110px;
    height: 110px;
    background: #AEB1B2;
    border-radius: 10px;
}
.music-controls{
    text-align: center;
    color: #37455E;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 30px 35px 35px;
}
.music-controls > input[type=range] {
  -webkit-appearance: none;
  outline: none;
  border-radius: 5px;
  margin: 15px auto;
  width: 90%;
  background: #999999;
  height: 5px;
}
.music-controls > h2 {
    width: 190px;
    margin: 10px auto;
}
.music-controls > span{
    width: 190px;
}
.music-controls > input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  background: #6A99C0;
  border-radius: 50%;
  border: solid 3px #5EA2E5;
}
.music-controls-buttons-box{
    line-height: 27px;
    font-size: 2rem;
    display: grid;
    grid-template-columns: 80px 40px 80px;
    grid-template-rows: auto;
}
.music-controls-buttons-box > div{
    transition: 0.3s;
}
.music-controls-buttons-box > div:active{
    transform: scale(0.9);
}