.timerbase {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr auto 1fr 100px;
  grid-template-rows: 150px;
}
.timerbase>span{
    margin: 30px 10px;
    font-size: 3.5rem;
}

.timer-controls {
  margin: 25px auto;
  width: 80%;
  height: 35px;
  text-align: center;
  color: #fff;
  line-height: 32px;
  background: #8EBFE0;
  border-radius: 5px;
  transition: 0.2s;
}

.timer-controls:active {
  transform: scale(0.95);
}
.timer-show{
    text-align: right;
    color: #202E3D;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 50px 50px;
}
.timer-show>h1{
    line-height: 45px;
    font-size: 3rem;
    margin: 0;
}
.timer-show>span{
    margin: 0 16px;
    font-size: 2rem;
}
.timer-show>span:active{
    transform: scale(0.95);
}