.card0 {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.card1 {
  width: 320px;
  height: 150px;
  border-radius: 10px;
}

.card2 {
    grid-column: 320px;
    grid-row: 320px;
  width: 320px;
  height: 320px;
  border-radius: 10px;
}

.card3 {
  width: 490px;
  height: 150px;
  border-radius: 10px;
}

.card0,
.card1,
.card2,
.card3,
.card4 {

  border-bottom: 2px solid transparent;
  background: rgba(233, 236, 239, 0.85);
  overflow: auto;
  transition: 0.3s;
}

::-webkit-scrollbar {
  display: none;
}

.card0:hover,
.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
  border-radius: 5px;
  border-bottom: 2px solid #048FDC;
}

.click:active {
  transform: scale(0.9);
}