#menu {
  overflow: hidden;
  width: 565px;
  height: 0px;
  border-radius: 5px 5px 0 0;
  transition: 0.3s;
  display: flex;
  background: rgba(233,236,239,0.5);
  transition: 0.2s;
}
.menu-controls {
  position: relative;
  line-height: 43px;
  margin-left: 20px;
  text-align: center;
  color: #435263;
  font-size: 1.8rem;
  transition: 0.2s;
}
.menu-controls:active{
    transform: scale(0.85);
}
.menu-move{
  -webkit-app-region: drag;
}